<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= blog[:title] %></title>

  <meta charset="utf-8"/>
  <meta name="description" content="<%= blog[:description] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for <%= blog[:title] %>" href="../feed.xml" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for <%= blog[:title] %>" href="feed.xml" />

  <link rel="stylesheet" href="../assets/css/gerablog.css">

</head>

<body>
  <header>
    <h1><a href="/"><%= blog[:name] %></a></h1>
    <h2><%= blog[:description] %> <a href="feed.xml">RSS</a></h2>
      <%= blog[:categories] %>
  </header>

<% for post in posts -%>
    <a href="<%= post[:url] %>">
      <h3 class="textcal"><%= post[:title] %></h3>
      <p class="textcal"><%= post[:description] %></p>
    </a>
<% end -%>

</body>

</html>
