<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom"
  xmlns:dc="http://purl.org/dc/elements/1.1/">
  <author>
    <name><%= @feed[:name] %></name>
  </author>
  <id><%= @feed[:address] %></id>
  <title><%= @feed[:title] %></title>
  <updated><%= @feed[:date] %></updated>

<% for @entry in @posts -%>
  <entry>
    <id><%= @entry[:url] %></id>
    <link href="<%= @entry[:url]"/>
    <title><%= @entry[:title]</title>
    <updated><%= @entry[:date]</updated>
    <dc:date><%= @entry[:date]</dc:date>
  </entry>
<% end -%>

  <dc:date><%= @feed_dte %></dc:date>
</feed>
~
