<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= blog[:title] %></title>

  <meta charset="utf-8"/>
  <meta name="description" content="<%= post[:description] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>
  <header>
    <h1><a href="/"><%= blog[:name] %></a></h1>
    <h2><%= blog[:description] %></h2>
    <%= blog[:categories] %>
  </header>
  <article>
    <%= post[:converted] %>
  </article>
</body>

</html>
